#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* İçeriği yatayda ortala */
    justify-content: center;
    /* İçeriği dikeyde ortala */
    padding-top: 0.2rem;
    padding-bottom: 5rem;
    height: 20px;
    font-size: 7.8px;
}

.wrap {
    width: 100%;
    max-width: 568px;
    height: 200px;
    flex-direction: row;
    gap: 2px;
}

@media (min-width: 568px) {
    #navbar {
        flex-direction: row;
        /* Ekran genişliği 568px'den büyükse yatay sıralama */
    }
}


h1 {
    margin-top: 4rem;
    font-size: 7px;
    text-align: center;
    flex-direction: row;
}



h6 {
    text-align: left;
    /* Metni sola yasla */
}

h5 {
    margin-left: 10px;
    text-align: center;
    margin-top: 65px;
    color: green;
    font-size: 10px;
}

h6 {
    color: gray;
    margin-top: 30px;
    font-size: 8px;
    margin-left: 0;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.image-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.image-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.image-container img {
    max-width: 100%;
}

.image-container h3 {
    margin-right: 110px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.image-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; /* Örnek olarak küçük bir alt boşluk */
}

.image-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}




.img-1,
.img-2 {
    margin-left: 25px;
    margin-right: 25px;
    /* Sol boşluğu sıfırla */
    margin-top: 10px;
    /* Üste olan boşluğu arttır */
}

.mrv-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.mrv-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.mrv-container img {
    max-width: 100%;
}

.mrv-container h3 {
    margin-right: 160px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.mrv-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; /* Örnek olarak küçük bir alt boşluk */
}


.mrv-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}



.ozt-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.ozt-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.ozt-container img {
    max-width: 100%;
}

.ozt-container h3 {
    margin-right: 170px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.ozt-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; 
}

.ozt-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}

/* Media Queries */

@media (min-width: 768px) {
    .ozt-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .ozt-container {
        width: 33%;
    }
}

.img-6 {
    margin-left: 20px;
    margin-right: 20px;
    /* Sol boşluğu sıfırla */
    margin-top: 10px;
}


.mlk-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.mlk-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.mlk-container img {
    max-width: 100%;
}

.mlk-container h3 {
    margin-right: 170px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.mlk-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; 
}

.mlk-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}


/* image 1 */


.nbr-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.nbr-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.nbr-container img {
    max-width: 100%;
}

.nbr-container h3 {
    margin-right: 170px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.nbr-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; 
}

.nbr-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}



.img-10,
.img-11 {
    margin-left: 30px;
    margin-right: 30px;
    /* Sol boşluğu sıfırla */
    margin-top: 20px;
}

.slm-gallery {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Yatayda ortala */
}

.slm-container {
    padding: 1em;
    width: 90%;
    /* Ekran genişliğinin %90'ı kadar */
    max-width: 300px;
    /* Maksimum genişlik belirleme */
    margin: 0 auto;
    /* Ortala */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* İki öğe arasında boşluk */
}

.slm-container img {
    max-width: 100%;
}

.slm-container h3 {
    margin-right: 140px;
    /* Sağa olan boşluğu sıfırla */
    font-size: 0.7em; /* Örnek olarak küçük bir font boyutu */
    font-weight: 400;
}

.slm-container>h3 {
    margin-top: 0.5em; /* Örnek olarak küçük bir üst boşluk */
    margin-bottom: 0.5em; 
}

.slm-container>p {
    margin-top: 5px; /* Örnek olarak küçük bir üst boşluk */
    font-size: 0.8em; /* Örnek olarak küçük bir font boyutu */
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}




.bgimg-1 {
    background-image: url(images/fee449calamas1.jpg);
    min-height: 400px;
    /* Daha küçük bir yükseklik */
    margin-top: 50px;
    /* Daha küçük bir üst boşluk */
}


h2 {
    margin-top: 250px;
    margin-left: 1.5rem;
    font-size: 12px;
}



.ddn {
    background-image: url(images/3_4.avif);
    width: 120px;
    /* Daha küçük bir genişlik */
    height: 400px;
    /* Daha küçük bir yükseklik */
    margin: 100px auto;
    /* Otomatik yatay ortala */
}



.hero {
    justify-content: center;
    margin-right: -140px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-left: 8px;
    font-size: 10px;
    margin-top: 10px;
    max-width: 100ch;
    padding: 0;
    line-height: 1.2em;
}

.hero__desc {
    margin-left: 20px;
    margin-top: -25px;
    font-size: 7px;
}


.sign-up {
    margin-left: 220px;
    width: 160px;
    /* Daha küçük bir genişlik */
    margin-top: 120px;
    /* Daha küçük bir üst boşluk */
}

.form__input {
    width: 100%;
    margin-bottom: 0.5em;
    /* Daha küçük bir alt boşluk */
    position: relative;
}

.sign-up__form {
    font-size: 0.6rem;
    /* Daha küçük bir font boyutu */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Sola hizala */
    padding: 1rem;
    /* Daha küçük bir iç kenar boşluğu */
    border-radius: 0.5rem;
    /* Daha küçük bir köşe yuvarlama */
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.15);
    /* Daha hafif bir gölge */
}

.submit-btn {
    cursor: pointer;
    width: 100%;
    padding: 0.8em;
    /* Daha küçük bir iç kenar boşluğu */
    margin-bottom: 0.5em;
    /* Daha küçük bir alt boşluk */
    border: 1px solid var(--Green);
    border-bottom: 3px solid hsl(154, 59%, 47%);
    border-radius: 0.3em;
    /* Daha küçük bir köşe yuvarlama */
    background-color: var(--Green);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08ch;
    /* Daha küçük bir harf aralığı */
}


#bar {

    flex-direction: column;
    height: 1px;
    font-size: 9px;
}

#bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;

}

#bar ul li a {
    margin-right: 10px;
    padding: 0.2rem;
    color: white;
}

.hr1 {
    margin-top: 100px;
}


