#navbar {
    flex-direction: column;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 100px;
    font-size: 15px;
}

.wrap {
    padding-top: 0.5rem;
    width: 97vw;
    height: 250px;
}


.mrv1 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

.mrv2 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

.mrv3 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}


.mrv4 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

.mrv5 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

.mrv6 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

.mrv7 {

    height: 100%;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    transition: all 500ms;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);

}

/**/
.dnm1 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.image-gallery {

    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.image-container img {
    max-width: 100%;
}

.image-container h3 {
    font-size: 10px;
    font-weight: 400;
}

.image-container>h3 {
    margin-top: -30em;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.image-container>p {
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}

/* ==============================
		Media Queries
=================================*/
@media (min-width: 768px) {
    .image-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .image-container {
        width: 33%;
    }
}


/* image 1 */

.img-1 {
    margin-left: -1.9rem;
}

.img-2 {
    margin-top: -2.7rem;
    margin-left: 24.5rem;
}

.img-1 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-1 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 2 */
.img-2 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-2 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}


/**/
.dnm2 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.mrv-gallery {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mrv-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mrv-container img {
    max-width: 100%;
}

.mrv-container h3 {

    margin-right: 120px;
    font-size: 10px;
    font-weight: 400;
}

.mrv-container>h3 {
    margin-top: 30px;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.mrv-container>p {
    font-size: 12px;
    flex-grow: 1;
    flex-basis: auto;
}

@media (min-width: 768px) {
    .mrv-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .mrv-container {
        width: 33%;
    }
}

.img-3 {
    margin-top: -3rem;
    margin-left: -10.5rem;
}

.img-4 {
    margin-top: -3rem;
}

.img-5 {
    margin-top: -3rem;
    margin-right: -20rem;
}

/* image 1 */
.img-3 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-3 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 2 */
.img-4 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-4 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 3 */
.img-5 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-5 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/**/
/**/

.dnm3 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.ozt-gallery {
    width: 1550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ozt-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ozt-container img {
    max-width: 100%;
}

.ozt-container h3 {
    margin-right: 550px;
    font-size: 15px;
    font-weight: 400;
}

.ozt-container>h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.ozt-container>p {
    margin-bottom: 20px;
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}


@media (min-width: 768px) {
    .ozt-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .ozt-container {
        width: 33%;
    }
}

.img-6 {
    margin-top: 100px;
    margin-left: 14px;
}

/* image 2 */
.img-6 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-6 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}
/**/
.dnm4 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.mlk-gallery {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mlk-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mlk-container img {
    max-width: 100%;
}

.mlk-container h3 {

    margin-right: 120px;
    font-size: 10px;
    font-weight: 400;
}

.mlk-container>h3 {
    margin-top: 30px;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.mlk-container>p {
    font-size: 12px;
    flex-grow: 1;
    flex-basis: auto;
}

@media (min-width: 768px) {
    .mlk-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .mlk-container {
        width: 33%;
    }
}

.nmr-7 {
    margin-top: -3rem;
    margin-left: -10.5rem;
}

.nmr-8 {
    margin-top: -3rem;
}

.nmr-9 {
    margin-top: -3rem;
    margin-right: -20rem;
}

/* image 1 */
.nmr-7 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.nmr-7 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 2 */
.nmr-8 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.nmr-8 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 3 */
.nmr-9 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.nmr-9 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/**/

.dnm5 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.nbr-gallery {

    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.nbr-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nbr-container img {
    max-width: 100%;
}

.nbr-container h3 {
    font-size: 10px;
    font-weight: 400;
}

.nbr-container>h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.nbr-container>p {
    color: black;
    flex-grow: 1;
    flex-basis: auto;
}

/* ==============================
		Media Queries
=================================*/
@media (min-width: 768px) {
    .nbr-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .nbr-container {
        width: 33%;
    }
}


/* image 1 */

.img-10 {
    margin-left:-1rem;
}


.img-10 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-10 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 2 */
.img-11 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.img-11 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}
/**/
.dnm6 {
    width: 94%;
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
}


/* ==============================
		Gallery
=================================*/
.slm-gallery {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.slm-container {
    padding: 1em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.slm-container img {
    max-width: 100%;
}

.slm-container h3 {

    margin-right: 120px;
    font-size: 10px;
    font-weight: 400;
}

.slm-container>h3 {
    margin-top: 30px;
    margin-bottom: 1em;
}

/* the paragraph pushes the button to the bottom
			displaying equal height photo-containers*/
.slm-container>p {
    font-size: 12px;
    flex-grow: 1;
    flex-basis: auto;
}

@media (min-width: 768px) {
    .slm-container {
        width: 49%;
    }
}

@media (min-width: 968px) {
    .slm-container {
        width: 33%;
    }
}

.ont-12 {
    margin-top: -3rem;
    margin-left: -7.8rem;
}

.ont-13{
    margin-top: -3rem;
}

/* image 1 */
.ont12 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.ont-12 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

/* image 2 */
.ont-13 img {
    transition: box-shadow 0.4s, transform 0.4s;
}

.ont-13 img:hover {
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

h2 {
    color: white;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

/**/
.hero {
    margin-left: 1.5rem;
    width: 55%;
    margin-top: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
}

.hero__title {
    max-width: 20ch;
    padding: 0;
    margin-bottom: 3rem;
    line-height: 1.2em;
}

.sign-up {
    margin-right: 3rem;
    width: 450px;
    margin-top: 650px;

}

.background {
    padding: 70px;
    background: black;
}

hr {
    margin-top: 2rem;
}

#bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#bar ul {

    margin-bottom: 0.1rem;
    list-style-type: none;
    display: flex;
    align-items: center;

}

#bar ul li a {

    margin-left: 20px;
    padding: 0.1rem;
    color: white;

}

/**/
h5 {
    margin-top: 50px;
    color: green;
    margin-left: 170px;
    font-size: 20px;
}

h6 {
    margin-right: -750px;
    color: gray;
    font-size: 12px;

}

.cat-1 {
    width: 250px;
    height: 400px;
    margin: 0;
    background-image: url('images/110000289962706.jpg');
    position: relative;
}

.cat-2 {
    width: 250px;
    height: 400px;
    margin: 0;
    background-image: url('images/40.jpg');
    position: relative;
}

.cat-3 {
    width: 250px;
    height: 400px;
    margin: 0;
    background-image: url('images/110000289962716.jpg');
    position: relative;
}

.picture {
    margin-left: -40px;
    margin-right: 61px;
    margin-top: 350px;
    margin-bottom: 300px;
    padding: 0px;
}